%section#about.container.content-section.text-center
	.row
		.col-lg-8.col-lg-offset-2
			%h2 About
			%p
				This is the start of a classy little eCommerce site built with the purpose of learning
				%a{:href => 'http://rubyonrails.org/'} Ruby on Rails
				and feeding my addiction to programming.
			%p
				Stay tuned - I'm very much looking forward to (finally) making this happen!
			%p
				This site uses photos by
				%a{:href => 'https://unsplash.com/'}UnSplash
				, and a custom Google Maps skin taken from
				%a{:href => "http://snazzymaps.com/"}Snazzy Maps
