%section#contact.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Get in Touch!
      %p Follow us on social media to get the latest updates about design and development of NationBuilder sites. Feel free to email us with questions or potential projects, or to just say hello!
      %p
        %a{:href => 'mailto:info@codenation.com', :target => '_blank'} info@codenation.com
      %ul.list-inline.banner-social-buttons
        %li
          %a.btn.btn-default.btn-lg{:href => 'https://twitter.com/CodeNationCrew', :target => '_blank'}
            %i.fa.fa-twitter.fa-fw
            %span.network-name Twitter
        %li
          %a.btn.btn-default.btn-lg{:href => 'https://github.com/code-nation', :target => '_blank'}
            %i.fa.fa-github.fa-fw
            %span.network-name GitHub
        %li
          %a.btn.btn-default.btn-lg{:href => 'https://medium.com/@codenation', :target => '_blank'}
            %i.fa.fa-medium.fa-fw
            %span.network-name Medium
