%section#store.content-section.text-center
  .store-section
    .container
      .row
        .col-lg-8.col-lg-offset-2
          %h2 Online Store
          %h3 Coming soon!
          %p Come here to purchase and download our latest digital resources. Do you want us to let you know when we launch our store?
          %a.page-scroll.btn.btn-default.btn-lg{:href => '#contact'} Sign up for updates
