<h1>Welcome to My Project</h1>
<p>This app is the start of a classy little eCommerce site built with the purpose of learning Rails and feeding my addiction to programming.</p>
<p>Stay tuned - I'm very much looking forward to making this happen!</p>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= image_tag("home-header.jpg", class: "img-responsive") %>
		</div>
	</div>
</div>
