= render 'shared/home_header'
%section#store.content-section.text-center
	.store-section
		.container
			.row
				.col-lg-8.col-lg-offset-2
					%h2 Online Store
					%h3 Grab a bargain!
					%p
						Come here to purchase and download our latest things and stuff. For the best in digital resources, you won't find a better deal anywhere else.
						%br
						%strong
							Ready to check out the store?

					= link_to "Let's go shopping!", products_path, {:class => "btn btn-default btn-lg"}
