= render 'shared/general_header', headline: 'Thank you'
%section#contact.container.content-section.text-center
	.row
		.col-md-8.col-md-offset-2
			%h3
				Thanks for getting in touch!
				%br
				%br
				We have received your message and will respond as soon as possible.
