%header.intro.half-height{:id => action_name}
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading My First App
          %p.intro-text
            Made with
            %span
              %i.fa.fa-heart.animated
            in Colombia
