%nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-bars
      %a.navbar-brand.page-scroll{:href => "/"}
        /link was #page-top
        %i.fa.fa-star
        %span.light Code
        Nation
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav

        - if current_page?(root_path) or current_page?(static_pages_index_path)
          %li.active
            %a{:href => "/"} Home
        - else
          %li
            %a{:href => "/"} Home

        - if current_page?(static_pages_about_path)
          %li.active
            %a{:href => "/static_pages/about"} About
        - else
          %li
            %a{:href => "/static_pages/about"} About

        - if current_page?(products_path)
          %li.active
            %a{:href => "/products"} Store
        - else
          %li
            %a{:href => "/products"} Store

        - if current_page?(static_pages_contact_path)
          %li.active
            %a{:href => "/static_pages/contact"} Contact
        - else
          %li
            %a{:href => "/static_pages/contact"} Contact

