%nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-bars
      %a.navbar-brand.page-scroll{:href => "/"}
        /link was #page-top
        %i.fa.fa-star
        %span.light Code
        Nation
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav

        =nav_link 'Home', root_path
        =nav_link 'About', about_path
        =nav_link 'Store', products_path
        =nav_link 'Contact', contact_path

      = form_tag("/products", method: "get", role: "search", class:"navbar-form navbar-right") do
        .input-group
          = label_tag(:q, "Search", class: "sr-only")
          = text_field_tag(:q, nil, placeholder: "Search...", class: "form-control")
          %span.input-group-btn
            = button_tag(type: 'submit', class: "btn btn-default") do
              %i.glyphicon.glyphicon-search{"aria-hidden": true}

