%nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-bars
      %a.navbar-brand.page-scroll{:href => "/"}
        /link was #page-top
        %i.fa.fa-star
        %span.light Code
        Nation
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav

        =nav_link 'Home', root_path
        =nav_link 'About', about_path
        =nav_link 'Store', products_path
        =nav_link 'Contact', contact_path
