%header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          - if notice
            %p.alert.alert-info.notice
              = notice
              %span.pull-right.flash-close.glyphicon.glyphicon-remove{"aria-hidden":"true"}
          - if alert
            %p.alert.alert-warning
              = alert
              %span.pull-right.flash-close.glyphicon.glyphicon-remove{"aria-hidden":"true"}
          %h1.brand-heading Theme Store
          %p.intro-text
            Creating digital tools for progressive campaigns
            %br
            Made with
            %span.live
              %i.fa.fa-heart.animated
            in Colombia
          %a.btn.btn-circle.page-scroll{:href => @featured_product ? "#featured_product" : "#store"}
            %i.fa.fa-angle-double-down.animated
