// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery.turbolinks
//= require jquery_ujs
//= require jquery.easing
//= require bootstrap
//= require turbolinks
//= require_tree .

// jQuery to collapse the navbar on scroll
function collapseNavbar() {
  if ($(".navbar").offset().top > 50) {
    $(".navbar-fixed-top").addClass("top-nav-collapse");
  } else {
    $(".navbar-fixed-top").removeClass("top-nav-collapse");
  }
}
$(window).scroll(collapseNavbar);
$(document).ready(collapseNavbar);

// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
  $('a.page-scroll').bind('click', function(event) {
    var $anchor = $(this);
    $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
    }, 1500, 'easeInOutExpo');
    event.preventDefault();
  });
});

// Closes the Responsive Menu on Menu Item Click
$(function() {
	$('.navbar-collapse ul li a').click(function() {
	  if ($(this).attr('class') != 'dropdown-toggle active' && $(this).attr('class') != 'dropdown-toggle') {
	  	$('.navbar-toggle:visible').click();
	  }
	});
});

// Google Maps Scripts
var map = null;
google.maps.event.addDomListener(window, 'load', initMap);
$(window).bind('page:change', function() {
  initMap();
});
google.maps.event.addDomListener(window, 'resize', function() {
  map.setCenter(new google.maps.LatLng(-26.651926999999986, 153.09994900000004));
});
function initMap() {
  // See: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
  var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(-26.651926999999986, 153.09994900000004),
    disableDefaultUI: true,
    scrollwheel: false,
    //draggable: false,
    styles: [{
			"featureType": "landscape",
			"stylers": [{
				"hue":"#FFBB00"
			}, {
				"saturation": 43.400000000000006
			}, {
				"lightness": 37.599999999999994
			}, {
				"gamma": 1
			}]
		}, {
			"featureType": "road.highway",
			"stylers": [{
				"hue":"#FFC200"
			}, {
				"saturation": -61.8
			}, {
				"lightness": 45.599999999999994
			}, {
				"gamma": 1
			}]
    }, {
			"featureType": "road.arterial",
			"stylers": [{
				"hue":"#FF0300"
			}, {
				"saturation": -100
			}, {
				"lightness": 51.19999999999999
			}, {
				"gamma": 1
			}]
    }, {
			"featureType": "road.local",
			"stylers": [{
				"hue": "#FF0300"
			}, {
				"saturation": -100
			}, {
				"lightness": 52
			}, {
				"gamma": 1
			}]
    }, {
			"featureType": "water",
			"stylers": [{
				"hue": "#0078FF"
			}, {
				"saturation": -13.200000000000003
			}, {
				"lightness": 2.4000000000000057
			}, {
				"gamma": 1
			}]
    }, {
			"featureType": "poi",
			"stylers": [{
				"hue": "#00FF6A"
			}, {
				"saturation": -1.0989010989011234
			}, {
				"lightness": 11.200000000000017
			}, {
				"gamma": 1
			}]
    }]
  };
  var mapElement = document.getElementById('map');
  map = new google.maps.Map(mapElement, mapOptions);
  var image = "<%= asset_path('map-marker.png') %>";
  var myLatLng = new google.maps.LatLng(-26.654926999999986, 153.09994900000004);
  var infowindow = new google.maps.InfoWindow({
    content: '<div class="info-window text-center"><h3>We love visitors!</h3><p><strong>123 Fake Street</strong></p><a class="page-scroll btn btn-default btn-sm" href="#contact">Get in touch</a></div>'
  });
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    icon: image,
    title: "Code Nation HQ"
  });
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}

