.product-reviews
	- @comments.each do |comment|
		.row.padtopless.padbottommore.text-left
			.col-md-12
				%p.margin0.padtopless
					= comment.user.first_name
					%small
						%em &nbsp; (#{time_ago_in_words(comment.created_at)} ago)
				.rated.padtopless{"data-score" => comment.rating}
				%p.margin0.padtopless= comment.body
		- unless comment == @comments.last
			%hr