/ = render 'shared/general_header', headline: 'Edit Product'
%section.container.content-section.text-center
	.row
		.col-sm-8.col-sm-offset-2
			%p#notice= notice
			%h1.margin0.padbottom25
				Edit
				= @product.name
			%img.padbottom25{:src => @product.image_url}

			= render 'form'

			%br

			= link_to 'Back', products_path, {:class => "btn"}

			/= link_to 'Show', @product, {:class => "btn"}
