= render 'shared/general_header', headline: 'New Product'
%section.container.content-section.text-center
	.row
		.col-sm-8.col-sm-offset-2
			/%h1 New product

			= render 'form'

			%br

			= link_to 'Back', products_path, {:class => "btn"}
